.fixed-top {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

a.navbar-brand {
    display: block;
    border: 0px;
    width: 300px;
    height: 30px;
    background: transparent url('../img/przechowajzwierzaka.png') no-repeat top center;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

a.navbar-brand:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.nav-item {
    padding: 0 5px;
}

header {
    position: relative;
    top: -55px;
    width: 1300px;
    margin: 0 auto;
    margin-bottom: -55px;
}

.carousel-item {
    height: 60vh;
    min-height: 300px;
}

.carousel-item h3 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5), 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.carousel-caption p {
    font-size: 1.5rem;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5), 0px 0px 5px rgba(0, 0, 0, 0.6);
}

span.dropdown-item, span.dropdown-item:hover {
    background: #6c7279;
    color: white;
}

.centered-form {
    width: 600px;
    margin: 0 auto;
}

span.form-error {
    display: block;
    color: red;
    font-weight: bold;
}

.carousel-gradient {
    width: 100%;
    height: 197px;
    background: transparent url('../img/gradient.png') repeat-x center center;
    position: absolute;
    bottom: 0px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.carousel-grade-left {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 94px;
    background: transparent url('../img/grade-left.png') repeat-y center center;
}

.carousel-grade-right {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 94px;
    background: transparent url('../img/grade-right.png') repeat-y center center;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 50px;
    height: 50px;
}

.carousel-control-next, .carousel-control-prev {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.carousel-control-prev {left: 20px;}
.carousel-control-next {right: 20px;}

h6.small-date{font-size: 12px; color: #6c757d;}

.media-body {position: relative;}
.upper-toolbar{position: absolute; top: 0px; right: 0px; font-size: 14px;}

.dropdown-item:hover {color: #fff; background-color: #007bff;}

.icon {display: block; width: 40px; height: 40px; border-radius: 20px; background-color: #007bff; background-repeat: no-repeat; background-position: center; margin: 3px; float: left;}
.icon-disabled {background-color: #5e5e5e;}
.icon-small { width: 32px; height: 32px; border-radius: 16px;}
a.icon:hover{background-color: #005bbe;}

.icon-big-rodent {background-image: url('../img/icons/icon-big-rodent.png');}
.icon-bird {background-image: url('../img/icons/icon-bird.png');}
.icon-bug {background-image: url('../img/icons/icon-bug.png');}
.icon-calendar {background-image: url('../img/icons/icon-calendar.png');}
.icon-cat {background-image: url('../img/icons/icon-cat.png');}
.icon-clean {background-image: url('../img/icons/icon-clean.png');}
.icon-delete {background-image: url('../img/icons/icon-delete.png');}
.icon-dog {background-image: url('../img/icons/icon-dog.png');}
.icon-edit {background-image: url('../img/icons/icon-edit.png');}
.icon-examine {background-image: url('../img/icons/icon-examine.png');}
.icon-feed {background-image: url('../img/icons/icon-feed.png');}
.icon-fish {background-image: url('../img/icons/icon-fish.png');}
.icon-groom {background-image: url('../img/icons/icon-groom.png');}
.icon-help {background-image: url('../img/icons/icon-help.png');}
.icon-horse {background-image: url('../img/icons/icon-horse.png');}
.icon-ill {background-image: url('../img/icons/icon-ill.png');}
.icon-medicate {background-image: url('../img/icons/icon-medicate.png');}
.icon-misc {background-image: url('../img/icons/icon-misc.png');}
.icon-reply {background-image: url('../img/icons/icon-reply.png');}
.icon-report {background-image: url('../img/icons/icon-report.png');}
.icon-reptile {background-image: url('../img/icons/icon-reptile.png');}
.icon-small-rodent {background-image: url('../img/icons/icon-small-rodent.png');}
.icon-transport {background-image: url('../img/icons/icon-transport.png');}
.icon-vet {background-image: url('../img/icons/icon-vet.png');}
.icon-walk {background-image: url('../img/icons/icon-walk.png');}


